VITE_BUSINESS_NAME=Sarah Martins Nail Designer
VITE_BUSINESS_SUBTITLE=Alongamento • Gel • Nail Art
VITE_BUSINESS_CITY=Uberlandia - MG
VITE_BUSINESS_RATING=5,0
VITE_WHATSAPP_NUMBER=553491257487
VITE_SCHEDULING_URL=https://cal.com/marcos-nascimento-yvrlcn
